<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h3><a href="{% url 'announce_list' %}">Return to main page</a></h3>
<ul>
    <li>{{ announcement.user }}</li>
    <li>{{ announcement.title }}</li>
    <li>{{ announcement.text }}</li>
    <li>{{ announcement.category }}</li>
    <li>{{ announcement.date_of_creation }}</li>
    <li>
        {% for content in announcement.content.all %}
        {{ content.file }}
        {% endfor %}
    </li>
</ul>

<form action="{% url 'comment_create' announcement.pk %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Comment">
</form>
<h2>Comments:</h2>
{% if announcement.comment_set.all %}
{% for comment in announcement.comment_set.all %}
<h4>
{{ comment.user }}:
{{ comment.text }}
</h4>
{% endfor %}
{% endif %}
</body>
</html>